<div class="container pagecontainer">
  <div class="page-header">
      <h1>Changer le mot de passe</h1>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword(passwordForm.value)" class="form-horizontal" novalidate autocomplete="off">
      <div class="form-group" [ngClass]="{'has-error': passwordForm.get('oldpassword').invalid && passwordForm.get('oldpassword').dirty}">

          <div class="md-form col-sm-10">
            <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" class="form-control" id="oldpassword" [formControl]="oldpassword" placeholder="Actuel">
          </div>
          <div class="text-danger" *ngIf="passwordForm.get('oldpassword').dirty && passwordForm.get('oldpassword').errors">
              <span class="col-sm-2"></span>
              <span class="col-sm-10" style="padding:4px 0 0" *ngIf="passwordForm.get('oldpassword').errors.required">
                Veuillez entrer le mot de passe actuel
              </span>
          </div>
      </div>

      <div formGroupName="passwordGroup" [ngClass]="{'has-error': passwordForm.get('passwordGroup').errors }">

          <div class="form-group" [ngClass]="{'has-error': passwordForm.get('passwordGroup.password').invalid && passwordForm.get('passwordGroup.password').dirty}">

              <div class="md-form col-sm-10">
                <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" class="form-control" id="password" [formControl]="password" placeholder="Nouveau">
              </div>
              <div class="text-danger"  *ngIf="passwordForm.get('passwordGroup.password').dirty && passwordForm.get('passwordGroup.password').errors">
                  <span class="col-sm-2"></span>
                  <span class="col-sm-10" style="padding:4px 0 0" *ngIf="passwordForm.get('passwordGroup.password').errors.required">
                    Veuillez entrer le mot de passe
                  </span>
                  <span class="col-sm-10" style="padding:4px 0 0" *ngIf="passwordForm.get('passwordGroup.password').errors.pattern">
                    Le mot de passe doit contenir une lettre, un nombre et des caractères spéciaux
                  </span>
              </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': passwordForm.get('passwordGroup.retypepass').invalid && passwordForm.get('passwordGroup.retypepass').dirty}">

              <div class="md-form col-sm-10">
                <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" class="form-control" [formControl]="retypepass" id="retypepass" placeholder="Confirmer">
              </div>
              <div class="text-danger" *ngIf="(passwordForm.get('passwordGroup.retypepass').touched || passwordForm.get('passwordGroup.retypepass').dirty) && (passwordForm.get('passwordGroup.retypepass').errors || passwordForm.get('passwordGroup').errors)">
                  <span class="col-sm-2"></span>
                  <span class="col-sm-10" style="padding:4px 0 0" *ngIf="passwordForm.get('passwordGroup.retypepass').errors?.required">
                    Veuillez confermer le mot de passe
                  </span>
                  <span class="col-sm-10" style="padding:4px 0 0" *ngIf="passwordForm.get('passwordGroup').errors?.mismatchedPassword">

                    Les mots de passe ne sont pas identiques
                  </span>
              </div>
          </div>

      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
              <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-outline-primary">Update</button>
              <button type="reset" class="btn btn-outline-default">Annuler</button>
          </div>
      </div>
  </form>

</div>
