
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink darken-4 mb-3">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" [routerLink]="['profile']">Car Manager</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLink="report" class="nav-link waves-light" mdbWavesEffect>Les Voiture<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a routerLink="voiture" class="nav-link waves-light" mdbWavesEffect>Ajouter Voiture</a>
          </li>
          <li class="nav-item">
              <a routerLink="about" class="nav-link waves-light" mdbWavesEffect>About</a>
          </li>
      </ul>
      <!-- Links -->

<!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
      <div class="log">
        <ul class="navbar-nav">
          <li *ngIf="!authService.isLoggedIn()">
              <a class="nav-item text-white"  routerLink="login" routerLinkActive="active">Log In</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
              <ul dropdownToggle class="nav-link">
                  <li class="nav-item dropdown" dropdown>
                      <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                          <span class="caret">Bienvenu {{ authService.currentUser.firstname }}</span></a>
                      <ul *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                          <li class="nav-item text-white"><a routerLink="profile" routerLinkActive="active">My Profile</a></li>
                          <li class="nav-item text-white"><a routerLink="password" routerLinkActive="active">Change Password</a></li>
                          <li class="nav-item text-white"><a routerLink="logout" routerLinkActive="active">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
       </ul>
      </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">

  </div>
</footer>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
